* {
  margin: 0;
  padding: 0;
}
body {
  overflow: hidden;
}
.about {
  position: absolute;
  right: 1vw;
  top: 3vh;
  color: white;
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}
.body {
  width: 100vw;
  background-size: cover;
  height: 100vh;
  position: absolute;
  bottom: 0;
  animation: bgmove 8s linear infinite;
}
/* .body img {
  position: absolute;
  width: 100vw;
  background-size: cover;
  height: 100vh;
  
} */
.mario img {
  width: 10vw;
  height: 20vh;
  position: absolute;
  bottom: 0;
  left: 8%;
}
.marioenemy img {
  width: 10vw;
  height: 20vh;
  position: absolute;
  bottom: 0;
  right: 8%;
}

.gameover {
  position: absolute;
  top: 10vh;
  left: 35%;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: larger;
  color: white;
  display: block;
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}
.score {
  position: absolute;
  left: 10vw;
  top: 10vh;
  font-size: larger;
  font-family: sans-serif;
  color: black;
  border: 3px solid #dc7e7e;
  padding: 1vw;
}
#start {
  position: absolute;
  background-color: #c9e8fa;
  top: 20vh;
  left: 46.6%;
  padding: 10px;
  border-radius: 30%;
  display: none;
}
.info {
  position: absolute;
  top: 25vh;
  left: 10vw;
  font-size: 20px;
  color: white;
  text-shadow: #fc0 1px 0 10px;
}
.marioenemyani {
  animation: marioenemymove 5s linear infinite;
  /* animation: moveupanddown 5s infinite; */
}
/* .marioupdown{
  animation: moveupanddown 2s infinite;
} */
.MovemarioUp {
  animation: marioJump 0.6s linear;
}

.Movemariotoearth {
  animation: mariotoearth 2s linear 1;
}

@keyframes marioJump {
  0% {
    bottom: 0;
  }
  50% {
    bottom: 400px;
  }
  100% {
    bottom: 0;
  }
}
@keyframes marioenemymove {
  0% {
    left: 100vw;
  }
  100% {
    left: -1vw;
  }
}

@keyframes mariotoearth {
  0% {
    bottom: 20px;
  }
  100% {
    bottom: -200px;
  }
}
@keyframes bgmove {
  100% {
    transform: translateX(-500px);
  }
}
@keyframes moveupanddown {
  0% {
    transform: translateY(-2px);
    left: 100vw;
  }
  50% {
    transform: translateY(2px);
  }
  100% {
    transform: translateY(-2px);
    left: -1vw;
  }
}
